/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  text-align: center;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font: 100%;
  font-size: inherit;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


body { 
  background: url(/images/minerva-foundry.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.2em;
}

h1, .tag-line {
  display: inline-block;
  float:right;
  clear: right;
  text-align: left;
}

h1 {
  margin: 50px 260px 0 10px;
  color: #0089fd;
  font-size: 26px;
  line-height: 1.2em;
}

.tag-line {
  margin: 0 6px 0 0;
  font-size: 104px;
  line-height: 1.2em;
}
